.footer {
     position: fixed;
     bottom: 0;
     width: 100%;

     p {
          background-color: $inputBackgroundColor;
          text-align: center;
          margin: 0;
          padding: 10px;
          font-weight: bolder;
          color: $bodyBackgroundColor;
     }
}
