@media (max-width: 1120px) {
     .meal {
          &:hover .meal-info {
               font-size: 1.8rem;
          }
     }
}

@media (max-width: 750px) {
     .meal {
          width: calc(100% / 2 - 20px);
          &:hover .meal-info {
               font-size: 2.5rem;
          }
     }
}

@media (max-width: 650px) {
     form {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
     }

     input {
          border-radius: 15px;
          color: $primaryFontColor;
          &::placeholder {
               color: $primaryFontColor;
               font-size: 1.5rem;
          }
          &:hover,
          &:focus {
               &::placeholder {
                    font-weight: bold;
                    color: $borderColor;
                    opacity: 1;
               }
          }
     }
     .search-btn,
     .random-btn {
          border-radius: 15px;
          margin: 0;
          border: 4px solid $borderColor;
          width: 30%;
          margin: 8px auto;
          background-color: $borderColor;
          color: $inputBackgroundColor;
          transition: 0.3s all;

          &:hover {
               background-color: $inputBackgroundColor;
               color: $borderColor;
          }
     }

     div.flex {
          flex-direction: column;
          width: 100%;
          overflow: hidden;
     }
}
@media (max-width: 500px) {
     .meal {
          width: calc(100% - 20px);

          &:hover .meal-info {
               font-size: 2.5rem;
          }
     }
     .footer p {
          font-size: 1.6rem;
     }
}

@media (max-width: 350px) {
     input[type='text'] {
          &::placeholder {
               font-size: 1.2rem;
          }

          &:hover,
          &:focus {
               &::placeholder {
                    font-size: 1.2rem;
               }
          }
     }
}
