// Form section (search meal section)

.search-btn {
    border-left: 0;
    border-top-right-radius: 1.2rem;
    border-bottom-right-radius: 1.2rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.random-btn {
    border: 0;
    border-top-right-radius: 1.2rem;
    border-bottom-right-radius: 1.2rem;
    margin-left: 1rem;
}

input[type='text'] {
    width: 400px;
    outline: none;
    color: $primaryFontColor;
    &::placeholder {
        color: $primaryFontColor;
    }
}

// recipies section
.meals {
    // border: 3px solid green;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
        li {
            border: 2px solid red;
            // display: inline-block;
        }
}



