// Base Font Size
html {
     font-family: 'Montserrat', sans-serif;
     font-size: 62.5%;
}

// Base font styles

body,
h1,
form,
ul,
h2 {
     font-size: 2.5rem;
}

.heading {
     font-size: 3rem;
}
.cuisine-type,
.prep-heading {
     border: 5px inset $inputBackgroundColor;
     padding: 50px;
     max-width: 500px;
     margin: 0 auto;
     color: $inputBackgroundColor;
     border-radius: 20px;
     text-align: center;
}

.ing-heading {
     color: $inputBackgroundColor;
}
