// Fonts Families:
// Montserrat
$headerFont: "Monserrat";
$bodyFont: "Monserrat";

// Colours:
$borderColor: #737373;
$primaryFontColor: #333333;
$bodyBackgroundColor: #fa8072;
$inputBackgroundColor: #fff;


